include ../components/card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=`${data.page_meta.meta_description}`)
        meta(name="keywords", content=`${data.page_meta.meta_keywords}`)
        title=data.page_meta.title
        link(rel="stylesheet", href="../css/main.css")
    body 
        .container
            include ../components/header
            include ../components/navbar
            include ../components/breadcrumbs
            include ../components/title
            section.section.columns 
                .column first column

                .column.is-four-fifths
                    .columns.align-center
                        .column 
                            include ../components/pagination
                        .column
                            include ../components/sort

                    each stock in data.stock
                        +Card(stock.image,stock.title,stock.text,stock.year,
                            stock.mileage,stock.mileage_measure,stock.axle_configuration,
                            stock.power,stock.power_measure,stock.payload,
                            stock.gross_weight,stock.price,stock.price_currency)
                    .columns.flex-center 
                        .column 
                            include ../components/pagination
                        .column
                            include ../components/sort
                    .box
                        each text in data.page_text
                            p.block=text.content
                                
                            

                    include ../components/card
            include ../components/footer