include ../components/card

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=`${data.page_meta.meta_description}`)
        meta(name="keywords", content=`${data.page_meta.meta_keywords}`)
        title=data.page_meta.title
        link(rel="stylesheet", href="../css/main.css")
    body 
        .container
            include ../components/header
            include ../components/breadcrumbs
            section.section.columns 
                .column first column

                .column.is-four-fifths
                    .columns.flex-center 
                        .column 
                            include ../components/pagination
                        .column
                            include ../components/sort

                    each stock in data.stock
                        +Card(stock.image,stock.title,stock.text,stock.year,
                            stock.mileage,stock.mileage_measure,stock.axle_configuration,
                            stock.power,stock.power_measure,stock.payload,
                            stock.gross_weight,stock.price,stock.price_currency)
                    .columns.flex-center 
                        .column 
                            include ../components/pagination
                        .column
                            include ../components/sort
                    .box 
                                p.box Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis? Quis quo molestias repellat? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda et at eveniet! Fugiat velit unde necessitatibus? Debitis illo vero aut. Iusto dolores, cupiditate error expedita veniam laborum repudiandae aspernatur eos?
                                p.box Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, link provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis? Quis quo molestias repellat?
                                p.box Iste, aliquid ducimus! Delectus in nisi quaerat temporibus blanditiis, molestias deleniti ea illum laudantium numquam. Laborum vero eligendi minus recusandae culpa sequi exercitationem iusto, ipsum sed suscipit fuga molestias veritatis!
                            

                    include ../components/card
            include ../components/footer