@use  './colors.scss' as *;


$pagination-border-color:$borders;
$pagination-hover-color:$white;



body{
    background-color: $body;
}

.card a{
    color:$black;
}

.card span {
    display: inline-block;
    margin-left: 5px;
}
.pagination-list li a{
    transition: all 0.5s ease-in-out;
}
.pagination-list li:hover a{
    background-color: $white;
    color:$black;
}

@import '../../node_modules/bulma/bulma.sass';

/*Utility classes*/

.align-center{
    align-items: center;
}

.flex-spaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.padding{
    padding: 1rem;
}
.title-font{
    font-size: 3rem;
    font-weight: bold;
}
