    .card
        .card-image 
            img(src="https://bulma.io/images/placeholders/1280x960.png", alt="")
        .card-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptates atque delectus aperiam nostrum provident quibusdam rem id sunt tenetur ullam pariatur natus consequatur est doloremque numquam. Aspernatur, beatae dolore!