footer.footer 
    h2.block Logo / Company Name
    .columns  
        .column.is-three-fifths
            ul.footer-links
                li
                    span
                        img(src="./img/location.svg", alt="location")
                    a(href="#")  Company Adress: Lorem ipsum dolor sit amet 18600, Netherlands
                li
                    span
                        img(src="./img/tel.svg", alt="location")
                    a(href="tel:+389587550000")    +38 958 755-00-00 
            ul.footer-social 
                li
                    a(href="#")
                        img(src="./img/social_icon__facebook.svg", alt="social icon")
                li
                    a(href="#")
                        img(src="./img/social_icon__instagram.svg", alt="social icon")
                li
                    a(href="#")
                        img(src="./img/social_icon__twitter.svg", alt="social icon")
                li
                    a(href="#")
                        img(src="./img/social_icon__youtube.svg", alt="social icon") 
        .column
           p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.