nav.pagination(role='navigation', aria-label='pagination')
  ul.pagination-list
    li
      a.pagination-previous Previous
    li
      a.pagination-link(aria-label='Goto page 1') 1
    li
      a.pagination-link.is-current(aria-label='Page 46', aria-current='page') 2
    li
      a.pagination-link(aria-label='Goto page 3') 3
    li
      a.pagination-next Next page